{% extends '::base.html.twig' %}
{% block body %}
<form class="form-horizontal" role="form" action="{{ path('event_new', {'hash': hash}) }}" method="POST">
	<div class="form-group">
		<div class="col-sm-12">
			<input type="text" class="form-control" id="titleInput" name="title" placeholder="Title">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-4">
			<select type="text" class="form-control" id="startHoursInput" name="starth">
				<option>00</option>
				<option>01</option>
				<option>02</option>
				<option>03</option>
				<option>04</option>
				<option>05</option>
				<option>06</option>
				<option>07</option>
				<option>08</option>
				<option selected>09</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
				<option>17</option>
				<option>18</option>
				<option>19</option>
				<option>20</option>
				<option>21</option>
				<option>22</option>
				<option>23</option>
			</select>
		</div>
		<div class="col-sm-4">
			<select type="text" class="form-control" id="startMinutesInput" name="startm">
				<option>00</option>
				<option>15</option>
				<option>30</option>
				<option>45</option>
			</select>
		</div>
		<div class="col-sm-4">
			<select type="text" class="form-control" id="durationInput" name="duration">
				<option>15</option>
				<option>30</option>
				<option>45</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<div class="btn-group">
				<button type="button" class="btn btn-default">Middle</button>
				<button type="button" class="btn btn-primary">Right</button>
			</div>
		</div>
	</div>
</form>
{% endblock %}